{% extends 'base.html' %}

{% block title %}
<h4>This is the 'About Us' page</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Ab aspernatur, assumenda cum deleniti dignissimos dolor
    eligendi explicabo harum illo laudantium minima
    necessitatibus perferendis praesentium quam quo totam ut velit voluptate?</p>
{% endblock %}

{% block content %}
<h2>WELCOME</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci, consectetur culpa cumque dicta perferendis perspiciatis porro quisquam totam voluptatem? A accusamus, architecto error explicabo impedit ipsum necessitatibus odio sequi?</p>
<h4>Please visit us again</h4>
<div class="table-section">
<table  border="2" cellpadding="5" cellspacing="5" width="350" bgcolor="#d2691e">
    <tr>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>LOCATION</th>
    </tr>
    <tr>
        <td>Paul</td>
        <td>Chola</td>
        <td>Nairobi</td>
    </tr>
    <tr>
        <td>Ron</td>
        <td>Ndavula</td>
        <td>Nairobi</td>
    </tr>
    <tr>
        <td>Wilson</td>
        <td>Gitau</td>
        <td>Nairobi</td>
    </tr>
    <tr>
        <td>Ayyub</td>
        <td>Kibwana</td>
        <td>Mombasa</td>
    </tr>
    <tr>
        <td>Bravine</td>
        <td>Isaac</td>
        <td>Kampala</td>
{% endblock %}