<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base Django Template</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
<div class="navigation-section">
    <button>HOME</button>
    <button>ABOUT US</button>
    <button>CONTACT</button>
    <button>GALLERY</button>
    <hr>
</div>

{% block title %}

{% endblock %}

{% block content %}

{% endblock %}

<section class="footer-section">
    <h4>This is my footer</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut distinctio fugiat modi vitae? Aliquam aperiam asperiores blanditiis, commodi delectus dicta explicabo in itaque labore laboriosam libero magni recusandae voluptas!</p>
</section>

</body>
</html>