<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table  border="2" cellpadding="5" cellspacing="5" width="350" bgcolor="#d2691e">
    <tr>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>LOCATION</th>
    </tr>
    <tr>
        <td>Paul</td>
        <td>Chola</td>
        <td>Nairobi</td>
    </tr>
    <tr>
        <td>Ron</td>
        <td>Ndavula</td>
        <td>Nairobi</td>
    </tr>
    <tr>
        <td>Wilson</td>
        <td>Gitau</td>
        <td>Nairobi</td>
    </tr>
    <tr>
        <td>Ayyub</td>
        <td>Kibwana</td>
        <td>Mombasa</td>
    </tr>
    <tr>
        <td>Bravine</td>
        <td>Isaac</td>
        <td>Kampala</td>
    </tr>
</table>
</body>
</html>